// 반응형 변수
$break-small: 480px;
$break-medium: 768px;
$break-large: 1280px;
$break-laptop: 1560px;
$break-desktop: 1920px;
@mixin respond-to($media) { 
    @if $media == small { 
        @media (max-width: $break-small) { @content; }
    } @else if $media == medium { 
        @media (max-width: $break-medium) {@content; }
    } @else if $media == large { 
        @media (max-width: $break-large) { @content; }
    } @else if $media == laptop { 
        @media (max-width: $break-laptop) { @content; }
    } @else if $media == desktop { 
        @media (max-width: $break-desktop) { @content; }
    }
}