// Width
$max-width:1920px;
$container-width:1400px;
$content-width:1200px;
$product-width: 980px;
$max-width-pad:50px;

// Color
$darkgrey:#2c2c2c;
$blue: #1083d6;
$darkblue: #025C92;
$red: #FF3B00;

.mt40 {
  margin-top: 40px;
}